[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhaypanhere
[access "refs/for/refs/*"]
	read = group user/Abhaypanhere
	push = group user/Abhaypanhere
	label-Code-Review = -2..+2 group user/Abhaypanhere
	label-Verified = -1..+1 group user/Abhaypanhere
	rebase = group user/Abhaypanhere
	removeReviewer = group user/Abhaypanhere
	submit = group user/Abhaypanhere
[access "refs/heads/*"]
	read = group user/Abhaypanhere
	create = group user/Abhaypanhere
	push = +force group user/Abhaypanhere
	pushMerge = group user/Abhaypanhere
[access "refs/tags/*"]
	push = group user/Abhaypanhere
	push = +force group user/Abhaypanhere
